html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  font-family: arial;
}

body {
  background: linear-gradient(#1A237E, #3949AB);
}

#main {
  height: 100%;
}

.Main {
  height: 100%;
}

.newEventCreation {
  height: 100px;
  > * {
    display:inline-block;
    box-sizing: border-box;
    vertical-align: top;
  }
  .currentTags {
    width: calc(100% - 100px);
    height: 100%;
    overflow-y: scroll;
  }
  .sendEvent {
    margin: 10px;
    width: 80px;
    height: 80px;
    line-height: 80px;
    background-color: #D81B60;
    border: none;
    border-radius: 50%;
    color: white;
    position: relative;
    > i {
      position: absolute;
      font-size: 12px;
      &:nth-child(1) {
        top: 16px;
        left: calc(50% - 15px);
        transform: rotate(-10deg);
      }
      &:nth-child(2) {
        top: 26px;
        left: calc(50% + 2px);
        transform: rotate(10deg);
      }
      &:nth-child(3) {
        top: 44px;
        left: calc(50% - 15px);
        transform: rotate(-10deg);
      }
      &:nth-child(4) {
        top: 54px;
        left: calc(50% + 2px);
        transform: rotate(10deg);
      }
    }
  }
}

.slidePaneTabs {
  height: 40px;
  line-height: 40px;
  font-weight: 600;
  > div {
    display: inline-block;
    width: 33.333%;
    text-align: center;
  }
}

.slidePane {
  width: 100%;
  > .slidePaneTabs > div {
    color: white;
    opacity: 0.4;
  }
  > .slidePane--Slider {
    transition: transform 0.2s ease-in-out;
    transform: translateX(-33.333%);
    width: 300%;
    height: calc(100% - 40px);
    > div {
      vertical-align: top;
      width: 33.333%;
      display: inline-block;
      overflow-y: scroll;
    }
  }
}

.slidePaneLeft {
  > .slidePaneTabs > div:first-child {
    opacity: 1;
  }
  > .slidePane--Slider {
    transform: translateX(0%);
  }
}
.slidePaneMiddle {
  > .slidePaneTabs > div:nth-child(2) {
    opacity: 1;
  }
  > .slidePane--Slider {
    transform: translateX(-33.333%);
  }
}
.slidePaneRight {
  > .slidePaneTabs > div:last-child {
    opacity: 1;
  }
  > .slidePane--Slider {
    transform: translateX(-66.666%);
  }
}

.previouslyUsedTags {
  height: calc(100% - 100px);
  > div > div {
    height: 100%;
  }
}

.new > input {
  width: calc(100% - 20px);
  height: 40px;
  line-height: 40px;
  margin: 10px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid white;
  color: white;
  outline: 0;
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
}

.tagList {
  color: white;
  padding: 10px 20px;
  width: 100%;
  font-size: 12px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  display: flex;
  flex-direction: row;
}

.tagList--list {
  width: calc(100% - 100px);
}

.tagList--button {
  width: 100px;
}

.currentTags {
  width: 100%;
  > div {
    display: inline-block;
    color: white;
    background-color: #D81B60;
    padding: 0 10px;
    margin: 5px;
    min-height: 30px;
    line-height: 30px;
    border-radius: 4px;
    font-size: 12px;
  }
}
